In [ ]:
print("hello world")

hello world

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
2*10

20

In [ ]:
3+4+9

16

In [ ]:
type(13)

int

In [ ]:
type('abc')

str

In [ ]:
type(9.6)

float

In [ ]:
type(True)

bool

In [ ]:
eno=10
ename="sowmya"
esal=676.3
print("the given employee number is",eno)
print("the given employee name is",ename)
print("the given employee salary is",esal)

the given employee number is 10
the given employee name is sowmya
the given employee salary is 676.3

In [ ]:
a=int(input("enter a value:"))
b=int(input("enter a value:"))
print(type(a))
print(type(b))
print(a+b)

enter a value:10
enter a value:20
<class 'int'>
<class 'int'>
30

In [ ]:
eno=int(input("enter employee number:"))
ename=input("enter employee name:")
esal=float(input("enter employee salary:"))
print("the given employee number is",eno)
print("the given employee name is",ename)
print("the given employee salary is",esal)

enter employee number:10
enter employee name:sowmya
enter employee salary:676.3
the given employee number is 10
the given employee name is sowmya
the given employee salary is 676.3

In [ ]:
#write a python program to entre the radius of the cricle and find the area?

radius=int(input("enter the radius of circle:"))
pi=3.14
area=pi*radius*radius
print("the area of the circle is",area)

enter the radius of circle:4
the area of the circle is 50.24

In [ ]:
#write a python program find the area and circumference of rectangle?

length=int(input("enter the length of rectangle:"))
breadth=int(input("enter the breadth of rectangle:"))
area=length*breadth
circumference=2*(length+breadth)
print("the area of rectangle is",area)
print("the circumference of rectangle is",circumference)

enter the length of rectangle:2
enter the breadth of rectangle:4
the area of rectangle is 8
the circumference of rectangle is 12

In [ ]:

#write a python program to check the person whether eligible for voting or not?

age=int(input("enter the age of person"))
if age>=18:
    print("eligible for voting")
else:
     print("not eligible for voting")

enter the age of person24
eligible for voting

In [ ]:
#write a python program to check the given number is positive or negative or zero?
number=int(input("enter a number"))
if number>0:
  print ("the given number is positive")
elif number<0:
  print("zero")
else:
  print("the given number is negative")

enter a number25
the given number is positive

In [ ]:
#which wheather the number is even and odd?

number=int(input("enter a number"))
if number %2==0:
    print("the given numer is even")
else:
    print("the given number is odd")

enter a number6
the given numer is even

In [ ]:
from typing import dataclass_transform
#accept employee basic salary and find gross salary

basic=int(input("enter your basic salary to find gross salary"))
if basic<=10000:
   hra=(basic/100)*70
   da=(basic/100)*56
elif basic<=20000:
   hra=(basic/100)*73
   da=(basic/100)*60
else:
   hra=(basic/100)*80
   da=(basic/100)*65
gs=basic+hra+da
print("da: ",da)
print("hra : ",hra)

print("gross salary: ",gs)

enter your basic salary to find gross salary20000
da:  12000.0
hra :  14600.0
gross salary:  46600.0

In [ ]:
#accept username and password and display
#inalid username --if username is incorrect
#invalid password --if password is incorrect

username=input("enter username:")
if username=="admin":
  password=input("enter password:")
  if password=="1234":
   print("valid user")
  else:
        print("invalid password")
else:
 print("invalid username")

enter username:admin
enter password:1234
valid user

In [ ]:
#Accept withdraw amount and print number of notes

amount=int(input("enter the amount to withdraw:"))
if amount%100==0:
  print("vaild amount")

else:
    print("please enter the multiples of 100 only")

enter the amount to withdraw:600
vaild amount

In [ ]:
#Accept withdraw amount and print number of notes
amount=int(input("enter the amount to withdraw:"))
five=0
two=0
one=0
if amount%100==0:
  if amount>=500:
    five=amount//500
    amount=amount-(five*500)
    print("500 ------",five)
  if amount>=200:
    two=amount//200
    amount=amount-(two*200)
    print("200 ------",two)
  if amount>=100:
    one=amount//100
    amount=amount-(one*100)
    print("100 ------",one)
else:
  print("please enter the multiples of 100 only")

enter the amount to withdraw:5800
500 ------ 11
200 ------ 1
100 ------ 1

In [ ]:
#accept project marks,internal marks ,external marks from student
#passmarks is 50 in each subject
#calculate total score if student got more than or equal to 50 in each subject
#totaal_score=70% on project +20% on external +10% internal
#print A grade if score is 90+
#print B grade if score is B/W 70-90
#print C grade if score is  B/W 50-70

project=int(input("Enter project marks"))     #50
internal=int(input("Enter internal marks"))   # 50
external=int(input("Enter external marks"))   # 50
if project>=50 and internal>=50 and external>=50:
    total=(project*70)/100+ (external*20)/100+(internal*10)/100
    print("Total score is: ",total)
    if total>=90:
        print("A grade")
    elif total>=70:
        print("B grade")
    else:
        print("C grade")

else:
    print("fail")

Enter project marks50
Enter internal marks50
Enter external marks50
Total score is:  50.0
C grade

In [ ]:
#Accept strat and stop value and prin b/w values

start=int(input("enter start value:"))
stop=int(input("enter the stop value:"))
if start<stop:
    for i in range(start,stop):
       print(i,end=" ")
elif start>stop:
         for i in range (stop,start,-1):
          print(i,end=" ")
else:
         print("your start and stop values are same")

enter start value:10
enter the stop value:100
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [ ]:
#write a program to print facors of a given number
num=int(input("enter a number to print factors:"))
for i in range (1,num+1):
 if num%i==0:
  print(i,end=" ")

enter a number to print factors:65
1 5 13 65

In [ ]:
#write a program to print the count of factors of a given no.
num=int(input("enter a number to print factors:"))
count=0
for i in range (1, (num//2)+1):
 if num%i==0:
  count=count+1
  print("total no. of factors:",count)

enter a number to print factors:10
total no. of factors: 1
total no. of factors: 2
total no. of factors: 3

In [ ]:
# Write a program to check given number is prime or not
# 2 3 5 7 11 13 17 19 ....
count=0
num=int(input("Enter your number to check it is prime or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

if count==1:
    print(num," is a prime number")
else:
    print(num," is not a prime number")

Enter your number to check it is prime or not :7
7  is a prime number

In [ ]:
# Write a program to check given number is perfect number or not
# 6      :  1+2+3  ==6
# 28     : 1+2+4+7+14===28
# 10     : 1+2+5  ===> 8

sum=0
num=int(input("Enter your number to check it is perfect number or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        sum=sum+i

if sum==num:
    print(num," is perfect number")
else:
    print(num," is not a perfect number")

Enter your number to check it is perfect number or not :666
666  is not a perfect number

In [ ]:
#how many no. of times
for i in range(0,5):
    for j in range(0,5):
        print("Hi", end=" ")

Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi

In [ ]:
#how many no. of times
for i in range(0,5):
    for j in range(i,5):
        print("Hi", end=" ")
    print()

Hi Hi Hi Hi Hi
Hi Hi Hi Hi
Hi Hi Hi
Hi Hi
Hi

In [ ]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i, end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print(" * ",end=" ")
        else:
            print(" ", end="  ")
    print(" ")

    *   *      *   *
 *         *         *
 *                  *
    *            *
       *      *
          *

In [ ]:
# Write a program to find number of digits in a given number
 #input: 5235
 #op: 4

num=6574
count=0
while num!=0:           # 0 !=0
    num=num//10         # 6//10  --> 0
    count=count+1        # 4
print("Number of digits : ",count)

Number of digits :  4

In [ ]:
# Write a program to display the number in reverse order
# input: 6324  ---
# output: 4236

num=6324
rev=0
while num!=0:            # 6!=0
    rem=num%10               # 6%10   =6
    rev=rev*10+rem       #4236
    num=num//10              # 6//10  0
print("reverse number: ",rev)

reverse number:  4236

In [ ]:
x=5666,
y='HYDE',
z=True,
d=9.76,
type(x)

tuple

In [ ]:
m=(65,45.7,'KPHB',True)
m[2]

'KPHB'

In [ ]:
m=(65,45.7,'KPHB',True,100,34,98,7.2)
m[2:5]

('KPHB', True, 100)

In [ ]:
a=13
if a>=18:
  print("eligible",a)
else:
  print("not eligible",a)

not eligible 13

In [ ]:
age=20,13,67,43,18,23,10,9,21,15,2,14
for i in age:
    if i>=18:
     print("eligible :",i)
    else:
      print("not eligible:",i)

eligible : 20
not eligible: 13
eligible : 67
eligible : 43
eligible : 18
eligible : 23
not eligible: 10
not eligible: 9
eligible : 21
not eligible: 15
not eligible: 2
not eligible: 14

In [ ]:
#Fucntion: fuction is a group of statements which returns some result.

1. Function with paramenters and without return value
2. Function with paramenters and with return value
3. Function without paramenters and without return value
4. Function without paramenters and wit return value

In [7]:
#1Function with paramenters and without return value
def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
       return a
b=isPrime1(11)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Prime number

In [3]:
#2Function with paramenters and with return value
def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1(12)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Not a prime number

In [4]:
#3Function without paramenters and without return value
def isPrime():
    num=int(input("Enter your number :"))
    count=0
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
        print(num," is a prime number")
    else:
        print(num," is not a prime number")

isPrime()

Enter your number :56
56  is not a prime number

In [9]:
#4Function without paramenters and wit return value
def isPrime1():
    num=int(input("Enter your number:"))
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1()
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Enter your number:77
Not a prime number

In [10]:
def viewPrograms():
    print("1. Prime number program")
    print("2. Reverse of a given number")
    print("3. Print factors of a given number")
    option=int(input("Choose your option: "))
    if option==1:
        isPrime()
    elif option==2:
        reverseNumber()
    elif option==3:
        factors()
    else:
        print("Please select 1 to 3")
def isPrime():
    print("Prime number program")
def reverseNumber():
    print("Reverse number code")
def factors():
    print("Factors code")


viewPrograms()

1. Prime number program
2. Reverse of a given number
3. Print factors of a given number
Choose your option: 3
Factors code

In [39]:
class ATM:
    acbal=10000
    def withdraw(self):
      #accept amount
      #amount should me multiples of 100
      #withdraw amount should be less than acbal
      #transaction limit is 20k
      def deposit(self):
       amt=int(input("Enter your deposite amount :"))
      if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
      else:
            print("Please enter multiples of 100")
      print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2

In [35]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    print("available bal is:",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposit amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 6500
available bal is: 3500

In [42]:
#1. Deposit
#2. Withdraw
#3. Balance Enquiry
#0. EXIT
#Choose your option: 2
#Enter your withdraw amount:1800

#500 rupees notes:3
#200 rupees notes:1
#100 rupees notes:1

#available bal is:8200
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 4000
500 rupees notes are :  8
Avaliable bal is:  6000

In [45]:
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 0
Thank you, Visit again

In [49]:
class ATM:
    acbal=10000
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            obj.withdraw()
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :5000
Avaliable bal is:  15000
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :5000
Avaliable bal is:  20000
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :5000
Avaliable bal is:  25000
1 for continue and 0 for EXIT0
Thank you, Visit again

In [50]:
class ATM:
    acbal=10000
    wcount=0
    def validation(self):
        pin=int(input("Enter your pin: "))
        if pin==1234:
            obj.viewOptions()
        else:
            print("Invalid pin number, try again")
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    self.wcount=self.wcount+1
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            if self.wcount<3:
                obj.withdraw()
            else:
                print("your transaction limit is over for the day")
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.validation()

Enter your pin: 1234
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :2500
Avaliable bal is:  12500
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :2500
Avaliable bal is:  15000
1 for continue and 0 for EXIT0
Thank you, Visit again