In [ ]:
print("hello world")

hello world

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
2*10

20

In [ ]:
3+4+9

16

In [ ]:
type(13)

int

In [ ]:
type('abc')

str

In [ ]:
type(9.6)

float

In [ ]:
type(True)

bool

In [ ]:
eno=10
ename="sowmya"
esal=676.3
print("the given employee number is",eno)
print("the given employee name is",ename)
print("the given employee salary is",esal)

the given employee number is 10
the given employee name is sowmya
the given employee salary is 676.3

In [ ]:
a=int(input("enter a value:"))
b=int(input("enter a value:"))
print(type(a))
print(type(b))
print(a+b)

enter a value:10
enter a value:20
<class 'int'>
<class 'int'>
30

In [ ]:
eno=int(input("enter employee number:"))
ename=input("enter employee name:")
esal=float(input("enter employee salary:"))
print("the given employee number is",eno)
print("the given employee name is",ename)
print("the given employee salary is",esal)

enter employee number:10
enter employee name:sowmya
enter employee salary:676.3
the given employee number is 10
the given employee name is sowmya
the given employee salary is 676.3

In [ ]:
#write a python program to entre the radius of the cricle and find the area?

radius=int(input("enter the radius of circle:"))
pi=3.14
area=pi*radius*radius
print("the area of the circle is",area)

enter the radius of circle:4
the area of the circle is 50.24

In [ ]:
#write a python program find the area and circumference of rectangle?

length=int(input("enter the length of rectangle:"))
breadth=int(input("enter the breadth of rectangle:"))
area=length*breadth
circumference=2*(length+breadth)
print("the area of rectangle is",area)
print("the circumference of rectangle is",circumference)

enter the length of rectangle:2
enter the breadth of rectangle:4
the area of rectangle is 8
the circumference of rectangle is 12

In [ ]:

#write a python program to check the person whether eligible for voting or not?

age=int(input("enter the age of person"))
if age>=18:
    print("eligible for voting")
else:
     print("not eligible for voting")

enter the age of person24
eligible for voting

In [ ]:
#write a python program to check the given number is positive or negative or zero?
number=int(input("enter a number"))
if number>0:
  print ("the given number is positive")
elif number<0:
  print("zero")
else:
  print("the given number is negative")

enter a number25
the given number is positive

In [3]:
#which wheather the number is even and odd?

number=int(input("enter a number"))
if number %2==0:
    print("the given numer is even")
else:
    print("the given number is odd")

enter a number6
the given numer is even

In [11]:
from typing import dataclass_transform
#accept employee basic salary and find gross salary

basic=int(input("enter your basic salary to find gross salary"))
if basic<=10000:
   hra=(basic/100)*70
   da=(basic/100)*56
elif basic<=20000:
   hra=(basic/100)*73
   da=(basic/100)*60
else:
   hra=(basic/100)*80
   da=(basic/100)*65
gs=basic+hra+da
print("da: ",da)
print("hra : ",hra)

print("gross salary: ",gs)

enter your basic salary to find gross salary20000
da:  12000.0
hra :  14600.0
gross salary:  46600.0

In [14]:
#accept username and password and display
#inalid username --if username is incorrect
#invalid password --if password is incorrect

username=input("enter username:")
if username=="admin":
  password=input("enter password:")
  if password=="1234":
   print("valid user")
  else:
        print("invalid password")
else:
 print("invalid username")

enter username:admin
enter password:1234
valid user

In [15]:
#Accept withdraw amount and print number of notes

amount=int(input("enter the amount to withdraw:"))
if amount%100==0:
  print("vaild amount")

else:
    print("please enter the multiples of 100 only")

enter the amount to withdraw:600
vaild amount

In [29]:
#Accept withdraw amount and print number of notes
amount=int(input("enter the amount to withdraw:"))
five=0
two=0
one=0
if amount%100==0:
  if amount>=500:
    five=amount//500
    amount=amount-(five*500)
    print("500 ------",five)
  if amount>=200:
    two=amount//200
    amount=amount-(two*200)
    print("200 ------",two)
  if amount>=100:
    one=amount//100
    amount=amount-(one*100)
    print("100 ------",one)
else:
  print("please enter the multiples of 100 only")

enter the amount to withdraw:5800
500 ------ 11
200 ------ 1
100 ------ 1